<div class="bg-gray-5 padding-1 padding-x-2 margin-top-6 radius-md">
    <p class="text-bold">Have feedback or questions about this challenge?
    <a class="usa-link--external" href="mailto:{{ page.challenge-manager-email}}">  Send the challenge manager an email</a></p>
    <p><a class="text-no-underline usa-button" href="https://github.com/GSA/challenges-and-prizes/tree/staging/{{ page.relative_path }}" target="_blank" rel="noopener nofollow" ><i class="fas fa-code-branch"></i> Suggest an Edit to This Challenge</a></p>
</div>